.btn{
    padding: 0.8em;
    background-color: #555a88;
    color: aliceblue;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 150ms ease;
}
.btn:hover{
    transform: scale(1.02);
}

/** Main Design**/

.app{
    width: 100%;
    max-width: 1024px;
    height: 100%;
    margin: auto;
    padding-bottom: 2rem;
    background-color: aliceblue;
}
.app__main{
    display: flex;
    justify-content: space-around;
    padding: 2rem;
}
.app__title{
    font-size: 2em;
    text-shadow: 2px 2px 5px  #0007;
}
.app__btn-form{
    width: 170px;
}
.app__btn-form>img{
    width: 0.9em;
    margin: 0;
}
.app__container-users{
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
}

/**Modal and Form Design**/

.app__form{
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0008;
    backdrop-filter: blur(2px);
    transform: scale(0);
    transition: transform 500ms ease;
}
.app__form-visible{
    transform: scale(1);
}
.form { 
    padding: 1.2em;
    width: 100%;
    max-width: 350px;
    background-color: aliceblue;
    max-height: max-content;
    border-radius: 7px;
    box-shadow: 1px 1px 7px 1px #555a88;
    position: relative;
}
.form__title{
    font-size: 1.5rem;
    margin-bottom: 0.6em;
}
.form__x{
    position: absolute;
    width: 1.8em;
    height: 1.8em;
    right: 1em;
    top: 1em;
    cursor: pointer;
    transition: transform 100ms ease;
}
.form__x:hover{
    transform: scale(1.2);
}
.form__item{
    display: flex;
    flex-direction: column;
    gap: 0.3em;
    margin-bottom: 0.8em;
}
.form__label{
    color: rgb(54, 43, 43);
    padding-left: 1em;
}
.form__input{
    padding: 0.4em 0.8em;
    font-family: inherit;
}
.form__btn{
    width: 100%;
}

/** User Card Design **/

.user{
    width: 300px;
    height: 200px;
    padding: 1.2em;
    background-color: white;
    border: 1px solid  #363636;
    border-radius: 3px;
    box-shadow: 3px 3px 5px 2px rgba(54, 54, 54, 0.695);
    display: flex;
    flex-direction: column;
    gap: 0.2em;
}
.user__title{
    margin-bottom: 0.3em;
    font-size: 1.7em;
    text-align: center;
}
.user__date-span{
    display: block;
    color: rgb(54, 54, 54);
    font-weight: 800;
}
.user__btn-s{
    display: flex;
    justify-content: end;
    gap: 0.3em;
}
.user__btn{
    align-items: center;
    text-align: center;
    width: 35px;
    border-radius: 3px;
}
.user__btn>img{
    width: 30px;
    height: 30px;
    padding: 0.2em;
}
.user__btn-delete{
    background-color: rgb(224, 54, 54);
}
.user__btn-update{
    background-color: white;
    border: 2px solid #6f6f6f;
}